.formPerfil{
    margin-left: 35%;
    width: 30%;
    padding: 30px 0px;
    border-radius: 30px;
    border-color: grey;
    box-shadow: 1px 1px 4px grey;
    margin-top: 16px;
    background-color: #f3f3f3;
}

.labelPerfil{
    font-weight: 700;
    margin-left: 36px;
}

.inputPerfil{
    border-radius: 12px;
    height: 50px;
    width: 350px;
    margin-left: 30px;
    margin-bottom: 20px;
    border-color: #707070;
    box-shadow: 1px 3px 7px grey;
    font-weight: 600;
}

.botonVerTareas{
    background-color: #6cd1ab;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    border-color: #6cd1ab;
    box-shadow: 1px 3px 7px grey;
    margin-left: 25%;
}
