body {
  margin: 0;
  font-family: "Oswald-Light";
  -webkit-user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@font-face {
  font-family: "Oswald-Light";
  src: url("./assets/fonts/Oswald-Light.ttf");
}

/*custom styling for all icons*/
/* i.fas, i.fab {
  border: 1px solid red;
} */
